<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reform_pwd</title>
    <link rel="stylesheet" href="../static/css/layout/header.css" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" href="../static/css/layout/side_bar.css" th:href="@{/css/layout/side_bar.css}">
    <link rel="stylesheet" href="../../../static/css/user/find/reform_pwd_view.css" th:href="@{/css/user/find/reform_pwd_view.css}">
    <script src="https://kit.fontawesome.com/e7e4504204.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section>
            <header th:replace="layout/header :: header"></header>
            <aside th:replace="layout/side_bar :: side_bar"></aside>

          <section class="Box1">
            <section class="innerBox1">
            <h1 class="Reform_pwd">Reform_pwd</h1>
            <section class="Reform_pwd_com">
              <h1></h1><p>패스워드가 <span>수정완료</span> 되었습니다.</p>
          </section>
          <form name="join_form" id="jaoin_form">
          <p class="final_btn">
            <a href="#"><button type="button" onclick="location.replace('/user/login')" class="btn">로그인 하기</button></a>
          </p>
        </form>
            </section>
          </section>
        </section>
    </main>
</body>
</html>