@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0; padding:0;}
a{text-decoration: none; color:#772800;}
ul,li{list-style: none;}
input{border:none;}

/* body영역 */
.Box1{
    margin:0 auto;
    background-color: #fdfdfd;
    margin-bottom:160px;
    width:900px;
    height:1600px;
    box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
    border-radius: 30px;
}

.JOIN {
    padding-top:30px;
    width: 241px;
    height: 144px;
    margin: 36px auto;
    opacity: 0.1;
    font-family: MaruBuri;
    font-size: 107px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #bc734e;
}

.Circle
{
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.circle1
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    text-align: center;
    background-color: #772800;
}

.STEP1 {
    width: 62px;
    height: 28px;
    font-family: MaruBuri;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fcebe2;
    margin:60px auto;
}

.info_input {
    padding-top : 18px;
    font-family: MaruBuri;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color : #bc734e;
}


.circle2
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    text-align: center;
    background-color: #fcebe2;
}

.STEP2 {
    width: 62px;
    height: 28px;
    font-family: MaruBuri;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #772800;
    margin:60px auto;
}

.join_comp {
    padding-top : 18px;
    font-family: MaruBuri;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color : #bc734e;
}

.right-arrow{
    width: 10px;
    height: 20px;
    font-family: MaruBuri;
    font-size: 30px;
    font-weight: bold;
    margin:51px 34px;
    color:#bc734e;
}

hr{
    border:1px solid #707070;
    width:500px;
    margin:60px auto;
}

form {
    width: 730px;
    margin: 60px auto;
}

form label {
    font-family: MaruBuri;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #772800;
}

form input {
    margin:7px;
    padding: 16px 16px 16px 34px;
    border-radius: 45px;
    background-color: #fcebe2;
    border: none;
}

form button {
    padding: 16px 33px 16px 33px;
    border-radius: 33px;
    background-color: #772800;
    border: none;
    font-family: MaruBuri;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fcebe2;
    margin:auto 5px;
}
form p
{
    margin: 20px auto;
}
form p span {
    font-size: 16px;
    font-family: MaruBuri;
    color: #bc734e;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
form .final_btn {
    text-align: center;
}
