@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin:0; padding:0;}
a{text-decoration: none; color:#772800;}
ul,li{list-style: none;}
input{border:none;}

/* header영역 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.navbar_icons {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-right: 130px;
}

.navbar_icons li {
    padding: 8px 12px;
    margin-top: 12.5px;
}

.icon3{
   all:unset;

}
.icon3 > span{
    cursor: pointer;
    color:#772800;
}

/* search영역 */

.search-box{
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 86%;
    transform: translate(-50%,-50%);
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    transition: 0.4s;
    width:30px;
}
.search-box:hover{
    box-shadow: 0px 0px .5px 1px #772800;
    width: 382px;
}
.search-btn{
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #772800;
}
.search-box:hover > .search-btn{
    background-color: #fff;
}
.search-txt{
    display: flex;
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: .4s;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}