<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bread</title>
    <script src="https://kit.fontawesome.com/e7e4504204.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/layout/header.css" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" href="../static/css/layout/side_bar.css" th:href="@{/css/layout/side_bar.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <script src="../static/js/main.js" th:src="@{/js/main.js}" defer></script>

</head>
<body>
<main>
    <section>
        <header th:replace="layout/header :: header"></header>
        <aside th:replace="layout/side_bar :: side_bar"></aside>
        <section class="newcx-main">
            <div class="newcx-main-category-header">
                <h3 class="newcx-product-list-title">Bread</h3>
            </div>
            <section class="product">
                <ul class="product-list">
                    <li class="baby-product">
                        <a href="#" style="height: 356px;">
                            <ul class="baby-product-wrap">
                                <li class="image">
                                    <img src="./Menu_image/준비-중-입니다..jpg" alt="width=100%;">
                                </li>
                                <li class="description">
                                    <ul class="baby-product badges">
                                        <li class="badge delivery-info">무료배송</li>
                                    </ul>
                                <li class="name">사르르 연유수플레</li>
                                <li>
                                    <ul class="price-area">
                                        <li class="price-wrap">
                                            <div class="price">
                                                <span class="price-info">
                                                    <span class="discount-percentage">6%</span>
                                                    <del class="base-price">5,300</del>
                                                </span>
                                                <em class="sale">
                                                    <strong class="price-value">5,000</strong>원
                                                </em>
                                            </div>
                                            <div class="delivery">
                                                <span class="arrival-info emphasis">
                                                    <em style="color:#212B36">모레(목)</em>
                                                    <em style="color:#212B36">도착 예정</em>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
    </section>
</main>
</body>
</html>
