<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="../../static/js/seller/productUpdate.js" th:src="@{/js/seller/productUpdate.js}" defer></script>
  <link rel="stylesheet" href="../../static/css/seller/productUpdate.css" th:href="@{/css/seller/productUpdate.css}">
  <link rel="stylesheet" href="../static/css/layout/header.css" th:href="@{/css/layout/header.css}">
  <link rel="stylesheet" href="../static/css/layout/side_bar.css" th:href="@{/css/layout/side_bar.css}">
</head>
<body>
<main>
  <section>
    <header th:replace="layout/header :: header"></header>
    <aside th:replace="layout/side_bar :: side_bar"></aside>


    <section class="postForm">
      <h1><span th:text="${productDTO.productVO.product_name}"></span></h1>
      <form th:action="@{/product/update}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="product_name" th:value="${productDTO.productVO.product_name}" > </br>
        가격_<span th:text="${productDTO.productVO.price}"></span>: <input type="text" name="price" th:value="${productDTO.productVO.price}"> </br>
        내용_<span th:text="${productDTO.productVO.context}"></span>: <input type="text" name="context" id="context" th:value="${productDTO.productVO.context}"> </br>
        영양정보_<span th:text="${productDTO.productVO.nutrition}"></span>: <input type="text" name="nutrition" id="nutrition" th:value="${productDTO.productVO.nutrition}"> </br>
        알러지_<span th:text="${productDTO.productVO.allergy}"></span>: <input type="text" name="allergy" id="allergy" th:value="${productDTO.productVO.allergy}"> </br>
        카테고리_<span th:text="${productDTO.productVO.category}"></span>: <input type="text" name="category" th:value="${productDTO.productVO.category}"> </br>
        재고_<span th:text="${productDTO.productVO.stock}"></span>: <input type="text" name="stock" th:value="${productDTO.productVO.stock}"> </br>
        <!--      등록일자_<span th:text="${productDTO.productVO.regis_date}"></span>:<input type="datetime-local" name="regis_date" th:value="${productDTO.productVO.regis_date}"> </br>-->
        이미지_<div th:each="image : ${productDTO.imagesVO}">
        <img th:src="@{'/product/image/' + ${image.image}}" height="100px" />
      </div>
        <input type="file" name="images" multiple>
        <button>확인</button>
      </form>
    </section>
  </section>
</main>




</body>
</html>