<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/e7e4504204.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/layout/header.css" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" href="../static/css/layout/side_bar.css" th:href="@{/css/layout/side_bar.css}">
    <link rel="stylesheet" href="../../static/css/seller/stock.css" th:href="@{/css/seller/stock.css}">
</head>
<body>
    <main>
        <section>
            <header th:replace="layout/header :: header"></header>
            <aside th:replace="layout/side_bar :: side_bar"></aside>

            <section class="Contain">
                <table>
                    <thead>
                        <tr>
                            <th>이미지</th>
                            <th>상품명</th>
                            <th>판매수</th>
                            <th>가격</th>
                            <th>판매액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="stockDTO : ${stockDTOS}">
                            <td><img th:src="@{'/product/image/' + ${stockDTO.image}}" alt="이미지가 없습니다" height="100px"></td>
                            <td th:text="${stockDTO.stockVO.product_name}"></td>
                            <td th:text="${stockDTO.stockVO.stock}"></td>
                            <td th:text="${stockDTO.price}"></td>
                            <td th:text="${stockDTO.price} * ${stockDTO.stockVO.stock}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </main>
</body>
</html>